@using Model;
@using CloudyWing.OrderingSystem.DataAccess.Entities;

@{
    FormResult? formResult = TempData.Get<FormResult>("FormResult");
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title - 點餐系統</title>
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    <link rel="stylesheet" href="~/CloudyWing.OrderingSystem.Web.styles.css" asp-append-version="true" />
    @RenderSection("Head", required: false)
</head>
<body>
    <header class="p-3 text-bg-dark">
        <nav class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                <svg class="bi me-2" width="40" height="32" role="img" aria-label="引導程序"><use xlink:href="#bootstrap"></use></svg>
            </a>

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a asp-area="" asp-page="/Index" class="nav-link px-2 text-white"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Home</font></font></a></li>
                <li><a asp-area="" asp-page="/Privacy" class="nav-link px-2 text-white"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Privacy</font></font></a></li>
                @if (User.Identity.IsAuthenticated) {
                    @if (User.IsInRole(Role.Administrator.ToString())) {
                        <li><a asp-area="" asp-page="/ProductCategories/Index" class="nav-link px-2 text-white"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">商品分類維護</font></font></a></li>
                        <li><a asp-area="" asp-page="/Products/Index" class="nav-link px-2 text-white"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">商品維護</font></font></a></li>
                    }
                    <li><a asp-area="" asp-page="/Orders/Index" class="nav-link px-2 text-white"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">點餐</font></font></a></li>
                }
            </ul>
            <div class="col-md-3 text-end">
                @if (User.Identity.IsAuthenticated) {
                    <font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Hello, @User.Identity.Name !</font></font>
                    <a asp-area="" asp-page="/Logout" class="btn btn-outline-light me-2"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">登出</font></font></a>
                } else {
                    <a asp-area="" asp-page="/Login" class="btn btn-outline-light me-2"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">登入</font></font></a>
                    <a asp-area="" asp-page="/Register" class="btn btn-warning"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">註冊</font></font></a>
                }
            </div>
        </nav>
    </header>
    <main role="main" class="pb-3">
        <div id="vueApp" class="container" v-cloak>
            @if (formResult is not null) {
                <div class="alert alert-@formResult.Level.ToString().ToLower()" role="alert">
                    @formResult.Message
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            }
            @RenderBody()
        </div>
    </main>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - CloudyWing.OrderingSystem.Web - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <environment include="Development">
        <script src="~/lib/vue/vue.js"></script>
        <script src="~/lib/bootstrap/js/bootstrap.bundle.js"></script>
        <script src="~/lib/vee-validate/vee-validate.js"></script>
        <script src="~/lib/vee-validate/locale/zh_TW.js"></script>
        <script src="~/lib/axios/axios.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/lib/vue/vue.min.js"></script>
        <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="~/lib/vee-validate/vee-validate.min.js"></script>
        <script src="~/lib/vee-validate/locale/zh_TW.js"></script>
        <script src="~/lib/axios/axios.min.js"></script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    <script>
        let mixins = [];
    </script>
    @await RenderSectionAsync("Scripts", required: false)

    <script type="text/javascript">
        new Vue({
            el: '#vueApp',
            mixins: mixins,
            methods: {
                validateBeforeSubmit: function (event) {
                    this.$validator.validateAll().then(result => {
                        if (!result) {
                            event.preventDefault();
                        }
                    });
                }
            },
            created: function () {
        @if (ViewContext.ViewData.ModelState.ErrorCount > 0) {
            foreach (var pair in ViewContext.ViewData.ModelState.Where(x => x.Value.Errors.Any())) {
                <text>
                            this.$validator.errors.add({
                                field: '@pair.Key',
                                msg: '@Html.Raw(pair.Value.Errors.First().ErrorMessage)'
                            });
                </text>
            }

        }
                    }
        });
    </script>
</body>
</html>